RestaurantOrder/RecyclerSample/gradlew.bat
RestaurantOrder/RecyclerSample/gradlew
RestaurantOrder/RecyclerSample/settings.gradle
RestaurantOrder/RecyclerSample/gradle/wrapper/gradle-wrapper.properties
RestaurantOrder/RecyclerSample/gradle/wrapper/gradle-wrapper.jar
RestaurantOrder/RecyclerSample/.idea/.name
RestaurantOrder/RecyclerSample/.idea/compiler.xml
RestaurantOrder/RecyclerSample/.idea/copyright/profiles_settings.xml
RestaurantOrder/RecyclerSample/.idea/encodings.xml
RestaurantOrder/RecyclerSample/.idea/gradle.xml
RestaurantOrder/RecyclerSample/.idea/misc.xml
RestaurantOrder/RecyclerSample/.idea/modules.xml
RestaurantOrder/RecyclerSample/.idea/scopes/scope_settings.xml
RestaurantOrder/RecyclerSample/.idea/vcs.xml
