<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="restaurant.praveen.com.restaurantorder" >
    <uses-sdk android:minSdkVersion="7"  android:targetSdkVersion="18" />
    <application
        android:name=".app.ROApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".AROMainActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AROBread"
            android:label="@string/title_activity_bread" >
        </activity>
        <activity
            android:name=".AROVegFilling"
            android:label="@string/title_activity_veg_filling" >
        </activity>
        <activity
            android:name=".ARONonVegFilling"
            android:label="@string/title_activity_non_veg_filling" >
        </activity>
        <activity
            android:name=".AROCheese"
            android:label="@string/title_activity_arocheese" >
        </activity>
        <activity
            android:name=".AROSauce"
            android:label="@string/title_activity_sauce" >
        </activity>
        <activity
            android:name=".AROOrder"
            android:label="@string/title_activity_aroorder" >
        </activity>
    </application>

</manifest>
